html,body {
}

@font-face {
  font-family: 'iconfont';  /* project id 697859 */
  src: url('//at.alicdn.com/t/font_697859_99cnc3cgnom6ajor.eot');
  src: url('//at.alicdn.com/t/font_697859_99cnc3cgnom6ajor.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_697859_99cnc3cgnom6ajor.woff') format('woff'),
  url('//at.alicdn.com/t/font_697859_99cnc3cgnom6ajor.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_697859_99cnc3cgnom6ajor.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.wiki-box ,.header{
  margin: 0 auto;
  max-width: 1000px;
}

ul li {
  list-style: none;
}

.header{
  font-size: 14px;
  color: #999;
  position: relative;
  z-index: 1000;
}

.title-img {
  width: 60px;
}

.iconfont-box {
  position: absolute;
  top: 50%;
  right: 0;
  color: #666;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.iconfont-box i{
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}

.iconfont-box a {
  color: #666;
}

.iconfont-box i.git:hover {
  color: #4183c4;
}

.iconfont-box i.ecoder:hover {
  color: #4183c4;
}

.iconfont-box i.ecoder {
  position: relative;
}

.ecoder-box {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  -webkit-transform: translate(-105%, 105%);
  -moz-transform: translate(-105%, 105%);
  -ms-transform: translate(-105%, 105%);
  -o-transform: translate(-105%, 105%);
  transform: translate(-105%, 105%);
  transition: .2s;
}

.ecoder-box img {
  padding-bottom: 10px;
}

.iconfont-box i.ecoder:hover .ecoder-box {
  width: 100px;
  height: auto;
}