.tl-timenav {
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1) inset;
}

.tl-timeaxis-tick {}

.tl-text-content-container {
  border-left: 1px solid #999;
  padding: 0 10px;
}

.tl-skinny .tl-text h2.tl-headline, .tl-skinny .tl-text h2.tl-headline-title, .tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6 {
  font-size: 24px;
  color: #333;
  line-height: 30px;
}

.tl-media-shadow {
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
  color: #666;
}

.tl-attribution {
  display: none;
}