<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>朱大爷的窝</title> 
  <link rel="icon" href="{{url}}/img/logo.ico" type="img/x-ico" />
  <link rel="stylesheet" href="{{url}}/css/index.css">
  <script src="{{url}}/js/jquery.js"></script>
  <script src="{{url}}/js/index.js"></script>
</head>
<body>
  <div id="bg">
    <canvas id="canvas"></canvas>
    <div class="filter"></div>
    <div class="landscape"></div>
  </div>
  <div class="nav">
   <ul class="nav-list">
      <li class="one-nav active">
        <a hrf="#">Home</a>
      </li>
      <li class="one-nav">
        <a hrf="JavaScript:;" id="showMyPhoto">朱大爷的靓照</a>
      </li>
      <li class="one-nav">
        <a href="timeline">时间轴</a>
      </li>
   </ul>
  </div>
  <div class="content">
    <div class="article-content">
      <ul class="artice-list">
        <li class="one-list">
          <div class="tag">tec</div>
          <div class="one-title">react牛比牛比牛比牛比vue是最好的前端框架~不服来干---biubiubiubiu</div>
          <a href="http://localhost:3000/articles/technologys/1" class="one-des">
           vue是最好的前端框架~不服来干---biubiubiubiu
          </a>
          <div class="other-info">
            <div>
              2018.01.30
            </div>
            <div class="other-count">
              <span>
                阅读量: 0
              </span>
              <span>
                喜欢: 0
              </span>
              <span>
                吐槽: 0
              </span>
            </div>
          </div>
        </li>
        <li class="one-list">
          <div class="tag">tec</div>
          <div class="one-title">react</div>
          <a href="http://www.agent-zs.com/articles/technologys/1" class="one-des">
           vue是最好的前端框架~不服来干---biubiubiubiu
          </a>
          <div class="other-info">
            <div>
              2018.01.30
            </div>
            <div class="other-count">
              <span>
                阅读量: 0
              </span>
              <span>
                喜欢: 0
              </span>
              <span>
                吐槽: 0
              </span>
            </div>
          </div>
        </li>
        <li class="one-list">
          <div class="tag">tec</div>
          <div class="one-title">react</div>
          <a href="http://www.agent-zs.com/articles/technologys/1" class="one-des">
           vue是最好的前端框架~不服来干---biubiubiubiu
          </a>
          <div class="other-info">
            <div>
              2018.01.30
            </div>
            <div class="other-count">
              <span>
                阅读量: 0
              </span>
              <span>
                喜欢: 0
              </span>
              <span>
                吐槽: 0
              </span>
            </div>
          </div>
        </li>
        <li class="one-list">
          <div class="tag">tec</div>
          <div class="one-title">react</div>
          <a href="http://www.agent-zs.com/articles/technologys/1" class="one-des">
           vue是最好的前端框架~不服来干---biubiubiubiuvue是最好的前端框架~不服来干---biubiubiubiuvue是最好的前端框架~不服来干---biubiubiubiuvue是最好的前端框架~不服来干---biubiubiubiuvue是最好的前端框架~不服来干---biubiubiubiuvue是最好的前端框架~不服来干---biubiubiubiu
          </a>
          <div class="other-info">
            <div>
              2018.01.30
            </div>
            <div class="other-count">
              <span>
                阅读量: 0
              </span>
              <span>
                喜欢: 0
              </span>
              <span>
                吐槽: 0
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="myWx">
    <div class="center">
      <div class="center-title">
        biubiubiubiubiu~
      </div>
      <div>
        <img src="{{url}}/img/wx.jpg">
      </div>
    </div>
  </div>
</body>
<script src="{{url}}/js/canvas.js"></script>
<script src="{{url}}/js/three/three.min.js"></script>
<script src="{{url}}/js/three/Projector.js"></script>
<script src="{{url}}/js/three/CanvasRenderer.js"></script>
<script src="{{url}}/js/birds.js"></script>
</html>