<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>时间轴</title>
  <script src="{{url}}/js/jquery.js"></script>
  <script src="{{url}}/js/timeline/timeline-story.js"></script>
  <script src="{{url}}/js/timeline/json.js"></script>
  <script>
    $(document).ready(function() {
     
      createStoryJS({
        type:		'timeline',
        width:		$(window).width(),
        height:		$(window).height(),
        source:		json,
        embed_id:	'timeline-embed',
        debug:		false
      });

      $(window).resize(function () {
        createStoryJS({
          type:	'timeline',
          width: $(window).width(),
          height:	$(window).height(),
          source:	json,
          embed_id:	'timeline-embed',
          debug: false
        });
        window.location.reload();
      })
    });
  </script>
</head>
<body>
  <style>
      html, body {
        padding: 0px;
        margin: 0px;
      }
  
      .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame, .vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
        border: none;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
      }
    </style>
  <div id="timeline-embed"></div>
</body>
</html>