<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{url}}/css/markdown.css">
  <link rel="stylesheet" href="{{url}}/css/wiki.css">
</head>
<body>
  <div class="header">
    <img class="title-img" src="{{url}}/img/dcgs.jpg" />
    <span>{{content}}</span>
    <div class="iconfont-box">
      <i class="iconfont ecoder">&#xe617;
        <div class="ecoder-box">
          <img src="{{url}}/img/wx.jpg" />
          <img src="{{url}}/img/zf.jpg" />
        </div>
      </i>
      <a href="https://github.com/zhudaye"><i class="iconfont git">&#xe6cf;</i></a>
    </div>
  </div>
  <div class="wiki-box">{{wiki}}</div>
</body>
</html>